extends layout

block content
  h1= title
  p Welcome to #{title}
  if locals.token
    p username: #{username}
    form(method="post", action="/create_test_issue")
      input(type="text", name="title", placeholder="Add to list..")
      input(type="submit", value="Add item")
    form(method="post", action="/logout")
      input(type="submit", value="Logout")
  if locals.issues
    p
      b List
    for issue in issues
      li= issue
  else
    a(href="/auth/github") sign in with github
