extends layout

block content
  div(class="navbar")
    div(class="navbar-inner")
      a(class="brand", href="#")= title
      ul(class="nav pull-right")
        li(class="inactive")
          if locals.token
            a(href="/logout", type="submit") Logout #{username}
          else
            a(href="/auth/github") Login to GitHub
  div(class="row")
    div(class="span3")
      if locals.token
        h4 #{username}'s GitLists
      else
        h4 Your GitLists
      ul(class="nav nav-list")
        li(class="active")
          a Default List
            i(class="icon-home icon-white")
    div(class="span9")
      h4 Default List
      table(class="table table-hover table-condensed")
        thead
          tr
            th &#x2713;
            th Description
            th Tags
        tbody
          if locals.issues
            for issue in issues
              tr
                td
                  input(type="checkbox", style="margin-bottom:5px;")
                td= issue
                td tags...
          else
            tr
              td
                input(type="checkbox", style="margin-bottom:5px;")
              td make this style better
              td work css
            tr
              td
                input(type="checkbox", style="margin-bottom:5px;")
              td fix plumbing
              td personal projects
            tr
              td
                input(type="checkbox", style="margin-bottom:5px;")
              td work on more projects
              td home personal
  if locals.token
    form(class="form-inline", method="post", action="/create_issue")
      input(type="text", name="title", placeholder="Add to list..")
      span &nbsp;
      input(class="btn btn-primary", type="submit", value="Add item")
  else
    a(href="/auth/github") sign in with github
