extends layout

block content
  h1= title
  p Welcome to #{title}
  if locals.user
    include includes/userstatus
  else
    p Login
    form(action="/login", method="post")
      input(type="text", id="user", name="user", placeholder="username")
      br
      input(type="password", id="password", name="password", placeholder="password")
      br
      input(type="submit", value="Login")
