extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/login", method="post")
    input(type="text", id="user", name="user")
    input(type="password", id="password", name="password")
    input(type="submit", value="Login")
