extends layout

block content
  h1= title
  p Welcome to #{title}
  if locals.token
    p token: #{token}
    form(method="post", action="/create_repo")
      input(type="submit", value="Create Repo")
    form(method="post", action="/create_test_issue")
      input(type="submit", value="Create Test Issue")
    form(method="post", action="/logout")
      input(type="submit", value="Logout")
  else
    a(href="/auth/github") sign in with github
